@keyframes logoAnimation { /* this adjusts the sizing for the animation  */
    0% { /* this is the starting point of the animation */
        width: 25px;
        opacity: 0; /* fully transparent animation */
    }

    100% { /* this is the ending point of the animation */
        width: 457px;
        opacity: 1; /* fully opaque animation */
    }
}

#logo {
    /* animation action definition */
    animation: logoAnimation 5s ease forwards;
    /* 5sec long, ease specifies the type of acceleration and fowards means that it will stay in final position after end of animation */
}

body {
    font-family: "Poppins", sans-serif;
    background-image: url(../images/concrete_seamless.png);
    background-color: #f1f1f1;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}

.nav_links {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.nav_links a:link , a:visited { /* the link and visited link color will be the same*/
    color: blue;
    text-decoration: none;
}

.card {
    background-color: #288088;
    border: 2px solid #45ADAD;
    padding: 20x 0px 20px 0px;
    border-radius: 50px 50px 0px 0px;
    flex-direction: column;
    flex-basis: auto;
    flex-wrap: nowrap;
}

.card > header { /* this is the header element direct child of class card */
    background-color: #288088;
    border: 2px solid #45ADAD;
    padding: 20px 0px 20px 0px;
    border-radius: 50px 50px 0px 0px;
}

.pricing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
   flex-wrap: wrap;
}

.gallery img {
    width: 300px;
    margin: 10px;
    border: 10px solid #50C7C7;
}


@media (min-width: 900px) { /* this is the media query for the min screen width of 900px */
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    body > header {
            position: sticky;
            top: 0;
        }
    .nav_links {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex-wrap: nowrap;
    }
    .pricing {
        justify-content: center;
    }
    .card {
        flex-basis: 275px;
    }
}


@media (prefers-reduced-motion: reduce) {
    /* this is the media query for the reduced motion, great for a more accessible site! */
    #logo {
        animation: none;
    }

}


@media print {
/* this is the media query for the printed version of the site */
    body {
        font-family: Arial, Helvetica, sans-serif;
        background-image: none;
    }

    nav {
        width: 100%;
    }

    .nav_links {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: nowrap;
    }

    .card {
        border: 2px solid #45ADAD;
        flex-basis: 325px;
        justify-content: space-between;
    }

    #gallery, .gallery {
        display: none;
    }

    .card ul li:nth-child(2)::after {
        content: "👍";
    }

}
